.photo-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9.218%;
}

.photo-grid__container {
  display: grid;
  width: calc(100% - 96px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid__container {
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 8.33%;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid__container {
    width: calc(100% - 32px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 12px;
    padding-top: 11.875%;
  }
}
